
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.navListAnimation{
animation-name: laodeffect;
}

@keyframes laodeffect {
  0%{
    background: #000;
    transform: rotateX(50deg);
  }
  100%{
    background: #000;
    transform: rotateX(0deg);
    transition: all 1s ease-in;
    /* background-color: green; */
  }
}
.borderstyling{
  border-radius: 8px;
border-top: 2px solid var(--primary-grey, #D7D7D7);
border-right: 4px solid var(--primary-grey, #D7D7D7);
border-bottom: 8px solid var(--primary-grey, #D7D7D7);
border-left: 2px solid var(--primary-grey, #D7D7D7);
}
.navbarDonateBtn {
  background: var(--primary, linear-gradient(27deg, #0CC71F 0.86%, #3EA0BF 38.20%, #FF449E 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 227px;
  height: 64px;
  padding: 16px 56px 16px 56px;

  /* Apply the gradient as a border image */
  border: 4px solid red 8px;
  border-image-source: linear-gradient(80.95deg, #0CC71F -18.58%, #3EA0BF 27.44%, #FF449E 103.59%);
  border-image-slice: 1 1 4 1; /* Corresponds to the order: top right bottom left */
  border-image-width: 1px 1px 4px 1px; /* Corresponds to the order: top right bottom left */
  border-image-outset: 0; /* Reset the outset to prevent scaling of the gradient */
}




.btnn{
  padding: 16px 56px;
  border-radius: 8px;
border-top: 1px solid var(--primary-grey, #D7D7D7);
border-right: 1px solid var(--primary-grey, #D7D7D7);
border-bottom: 4px solid var(--primary-grey, #D7D7D7);
border-left: 1px solid var(--primary-grey, #D7D7D7);
background: var(--primary, linear-gradient(27deg, #0CC71F 0.86%, #3EA0BF 38.20%, #FF449E 100%));
}
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.gy{
  background: var(--primary, linear-gradient(27deg, #0CC71F 0.86%, #3EA0BF 38.20%, #FF449E 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.element {
  /* width: 200px; */
  /* height: 200px; */
  border-width: 2px 4px 8px 2px;
  border-style: solid;
  border-color: transparent;  
  background: radial-gradient(circle, #0CC71F -18.58%, #3EA0BF 27.44%, #FF449E 103.59%),
  linear-gradient(0deg, #FBFCEB, #FBFCEB);
  border-radius: 8px;
}
.buttonshade{
  border-width: 2px 4px 4px 2px;
  border-style: solid;
  border-color: transparent;  
  background: linear-gradient(80.95deg, #0CC71F -18.58%, #3EA0BF 27.44%, #FF449E 103.59%),
  linear-gradient(0deg, #FBFCEB, #FBFCEB);
  border-radius: 4px;
}
.me{
  border-radius: 8px;
border-top: 2px solid var(--primary-grey, #D7D7D7);
border-right: 4px solid var(--primary-grey, #D7D7D7);
border-bottom: 8px solid var(--primary-grey, #D7D7D7);
border-left: 2px solid var(--primary-grey, #D7D7D7);
}
.donateNowButtonShade{
  border-width: 2px 4px 4px 2px;
  border-style: solid;
  border-color: transparent;  
  /* background: linear-gradient(80.95deg, #0CC71F, #3EA0BF, #FF449E),
  linear-gradient(0deg, #FBFCEB, #FBFCEB); */
  background: radial-gradient(circle, #0CC71F, #3EA0BF, #FF449E);


  border-radius: 4px;
}
.inputBorder{
  display: flex;
width: 118px;
padding: 12px 96px 12px 12px;
align-items: center;
  border-radius: 2px;
border: 0.5px solid var(--primary-black, #131313);
}



